#AIM Henchman CFG file

scale=1.0

skeleton=AIM_Henchman.csf

mesh=AIM_Henchman.cmf

material=AIM_Henchman.xrf

animation=AIM_Henchman_idle_with_gun.caf
animation=AIM_Henchman_walk_with_gun.caf
animation=AIM_Henchman_jog_with_gun.caf

animation=AIM_Henchman_fidget_with_gun.caf
animation=AIM_Henchman_firing_gun.caf
animation=AIM_Henchman_melee_kick.caf
animation=AIM_Henchman_melee_rifle_strike.caf

animation=AIM_Henchman_Idle_to_Stunned.caf
animation=AIM_Henchman_Stunned_Idle.caf
animation=AIM_Henchman_Stunned_to_Idle.caf


animation=AIM_Henchman_little_hit_back.caf
animation=AIM_Henchman_little_hit_front.caf
animation=AIM_Henchman_little_hit_left.caf
animation=AIM_Henchman_little_hit_right.caf

animation=AIM_Henchman_big_hit_back.caf
animation=AIM_Henchman_big_hit_front.caf
animation=AIM_Henchman_big_hit_left.caf
animation=AIM_Henchman_big_hit_right.caf

animation=AIM_Henchman_dead_on_back.caf
animation=AIM_Henchman_dead_on_back_02.caf
animation=AIM_Henchman_dead_on_front.caf
animation=AIM_Henchman_dead_on_front_02.caf
animation=AIM_Henchman_die_in_place.caf

animation=AIM_Henchman_knock_back.caf
animation=AIM_Henchman_on_back_Idle.caf
animation=AIM_Henchman_get_up.caf
